<div ng-include="'/partials/user/toolbar.html'"></div>
<div ng-include="'/partials/user/header.html'"></div>
<div class="col-md-6 col-md-offset-3">
    <div class="input-group" style="margin: 20px;">
        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="searchText.name">
        <div class="input-group-btn">
            <span class="btn btn-default" ng-disabled="true">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
</div>
<div class="col-md-8 col-md-offset-2">
    <div ng-include="'/partials/user/friends.html'"></div>
</div>