<div class="jumbotron" style="background-image: url({{currentUserInfo.coverImageData}})">
    <div class="row">
        <div class="col-md-3">
            <img class="img-thumbnail" alt="100x100" ng-src="{{currentUserInfo.profileImageData}}" data-holder-rendered="true" style="width: 100px; height: 100px;">
            <span>
                <b>{{currentUserInfo.name}}</b>
            </span>
        </div>
        <div class="col-md-5" id="homeButtons">
            <button type="button" class="btn btn-primary" ng-click="showNewPost = !showNewPost">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <span class="glyphicon-class">Post</span>
            </button>
            <button type="button" class="btn btn-primary" ng-click="showNewRequests = !showNewRequests">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span class="glyphicon-class">({{requests.length || 0}}) Requests</span>
            </button>
            <button type="button" class="btn btn-primary" ng-click="showSettings = !showSettings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <span class="glyphicon-class">Settings</span>
            </button>
            <button type="button" class="btn btn-primary" ng-click="showPasswordChange = !showPasswordChange">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                <span class="glyphicon-class">Password change</span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="logout()">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                <span class="glyphicon-class">Logout</span>
            </button>
        </div>
        <div class="col-md-3" id="friendsSearch">
            <!-- Search friends-->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="searchTerm" ng-keyup="search(searchTerm)"
                data-toggle="dropdown">
                <div class="input-group-btn">
                    <span class="btn btn-primary" ng-disabled="true">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="user in searchResults" ng-click="openUserProfile(user)">
                        <a><img class="img-thumbnail" alt="pic" ng-src="{{user.profileImageData}}"
                data-holder-rendered="true" style="width: 50px; height: 50px;" role="menuitem">{{user.name}}</a>
                    </li>
                </ul>
            </div>
            <!-- Search friends-->
        </div>
    </div>
</div>

<div class="col-md-12 btn-primary" id="newsFeedContainer">

    <h1>
        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>News Feed</h1>
</div>
<div class="container col-md-12">
    <div class="col-md-6 col-md-offset-1">
        <!-- password change -->
        <div class="panel panel-primary" ng-show="showPasswordChange">
            <div class="panel-heading">
                <h3 class="panel-title" id="panel-title">Change Password</h3>
            </div>
            <div class="panel-body">
                <b>Old Password:</b>
                <input type="password" class="form-control" placeholder="old password..." required ng-model="userPass.OldPassword">
                <b>New Password:</b>
                <input type="password" class="form-control" placeholder="new password..." required ng-model="userPass.NewPassword">
                <b>Confirm New Password:</b>
                <input type="password" class="form-control" placeholder="confirm new password..." required ng-model="userPass.ConfirmPassword">
                <hr>
                <div class="col-md-offset-10" style="margin-top: 2%;">
                    <button type="button" class="btn btn-primary" ng-click="passwordChange(userPass)">
                        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                        <span class="glyphicon-class">Save</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- password change -->
        <!-- user settings -->
        <div class="panel panel-primary" ng-show="showSettings">
            <div class="panel-heading">
                <h3 class="panel-title">Edit profile</h3>
            </div>
            <div class="panel-body">
                <p></p>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="image-box1">
                            <p ng-if="!user.coverImageData">Image Preview</p>
                            <img ng-if="user.coverImageData" ng-src="{{user.coverImageData}}" alt="" style="width: 620px; height: 100px;"
                            />
                        </div>
                        <div class="col-md-offset-1" style="margin: 2%;">
                            <input type="file" id="image1" onchange="angular.element(this).scope().coverImageSelected(this)" />
                        </div>
                    </div>
                    <div class="col-md-3" \>
                        <div class="image-box2">
                            <p ng-if="!user.profileImageData">Image Preview</p>
                            <img ng-if="user.profileImageData" ng-src="{{user.profileImageData}}" alt="" style="width: 150px; height: 150px;"
                            />
                        </div>
                        <div class="col-md-offset-1" style="margin: 2%;">
                            <input type="file" id="image2" onchange="angular.element(this).scope().profileImageSelected(this)" />
                        </div>
                    </div>
                    <div class="col-md-9">
                        <b>Name:</b>
                        <input type="text" id="name" class="form-control" placeholder="name..." required autofocus ng-model="user.name">
                        <b>Email:</b>
                        <input type="email" id="email" class="form-control" placeholder="email..." required autofocus ng-model="user.email">
                        <b>Gender:</b>
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" ng-model="user.gender" value="1">
                                <b>Male</b>
                            </label>
                            <label>
                                <input type="radio" name="gender" ng-model="user.gender" value="2">
                                <b>Female</b>
                            </label>
                            <label>
                                <input type="radio" name="gender" ng-model="user.gender" value="0">
                                <b>Other</b>
                            </label>
                        </div>
                        <hr />
                        <div class="col-md-offset-9" style="margin-top: 2%;">
                            <button type="button" class="btn btn-primary" ng-click="updateUser(user)">
                                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                                <span class="glyphicon-class">Save</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- user settings -->
        <!-- Show requests -->
        <div class="panel panel-danger" ng-show="showNewRequests" ng-repeat="request in requests">
            <div class="panel-heading">
                <a><img class="img-thumbnail" alt="100x100" ng-src="{{request.user.profileImageData}}"
                data-holder-rendered="true" style="width: 50px; height: 50px;"></a>
                <span>
                    <b>{{request.user.name}}</b>
                </span>
            </div>
            <div class="panel-body">
                <div class="col-md-6 col-md-offset-9">
                    <button type="button" class="btn btn-xs btn-primary" ng-click="approveRequest(request.id)">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        <span class="glyphicon-class">Accept</span>
                    </button>
                    <button type="button" class="btn btn-xs btn-danger" ng-click="rejectRequest(request.id)">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        <span class="glyphicon-class">Reject</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- Show requests -->
        <!-- new post --->
        <div class="panel panel-success" ng-show="showNewPost">
            <div class="panel-heading">
                <h3 class="panel-title">Type message</h3>
            </div>
            <div class="panel-body">
                <textarea ng-model="message" cols="87" rows="2"></textarea>
                <br />
                <div class="col-md-offset-10">
                    <button type="button" class="btn btn-success" ng-click="postMessage(currentUserInfo.username, message)">Publish</button>
                </div>
                </button>
            </div>
        </div>
        <!-- new post --->
        <!-- posts -->
        <div ng-repeat="post in wall" ng-hide="!showNewPost && (showNewRequests || showSettings || showPasswordChange)">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a><img class="img-thumbnail" alt="100x100" ng-src="{{post.author.profileImageData}}"
                data-holder-rendered="true" style="width: 50px; height: 50px;"></a>
                    <span>
                        <b>{{post.author.name}}</b>
                    </span>
                    <span class="col-md-offset-1">
                        <b>{{post.date | date:'dd-MM-yyyy HH:mm'}}</b>
                    </span>
                </div>
                <div class="panel-body">
                    <p>{{post.postContent}}</p>
                    <div class="col-md-6 col-md-offset-8">
                        <button type="button" class="btn btn-xs btn-primary" ng-hide="{{post.liked}}">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <span class="glyphicon-class">({{post.likesCount}}) Like</span>
                        </button>
                        <button type="button" class="btn btn-xs btn-danger" ng-show="{{post.liked}}">
                            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                            <span class="glyphicon-class">({{post.likesCount}}) Unlike</span>
                        </button>
                        <button type="button" class="btn btn-xs btn-defaut">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            <span class="glyphicon-class">({{post.totalCommentsCount}}) Comments</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- comments -->
            <div ng-repeat="comment in post.comments">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a><img class="img-thumbnail" alt="100x100" ng-src="{comment.author.profileImageData}}"
                data-holder-rendered="true" style="width: 50px; height: 50px;"></a>
                        <span>
                            <b>{{comment.author.name}}</b>
                        </span>
                        <span class="col-md-offset-1">
                            <b>{{comment.date | date:'dd-MM-yyyy HH:mm'}}</b>
                        </span>
                    </div>
                    <div class="panel-body">
                        <p>{{comment.commentContent}}</p>
                        <div class="col-md-6 col-md-offset-10">
                            <button type="button" class="btn btn-xs btn-default" ng-hide="{{comment.liked}}">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                <span class="glyphicon-class">({{comment.likesCount}}) Like</span>
                            </button>
                            <button type="button" class="btn btn-xs btn-danger" ng-show="{{comment.liked}}">
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                <span class="glyphicon-class">({{comment.likesCount}}) Unlike</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- comments -->
        </div>
        <!-- posts -->
    </div>
    <div class="col-md-4 col-md-offset-1">
        <!-- friends -->
        <div class="list-group">
            <div class="list-group-item active">
                <h4 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>({{friends.length || 0}}) Friends</h4>
            </div>
            <a href="" class="list-group-item" ng-repeat="friend in friends" ng-click="openUserProfile(friend)">
              <img ng-src="{{friend.profileImageData}}" 
            data-holder-rendered="true" style="width: 50px; height: 50px;">
            <span>
               <b>{{friend.name}}</b>
            </span>
            </a>
        </div>
        <!-- friends -->
    </div>
</div>