<div class="jumbotron col-md-12 vcenter">
  <h1>Social Network</h1>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-3" ng-controller="loginController">
    <form class="form-signin">
      <h2 class="form-signin-heading">Sign in</h2>Username:
      <input type="text" id="inputUsername" class="form-control" placeholder="username..." required autofocus>Password:
      <input type="password" id="inputPassword" class="form-control" placeholder="password..." required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
  <div class="col-md-3" ng-controller="registerController">
    <form class="form-signin">
      <h2 class="form-signin-heading">Register</h2>Username:
      <input type="text" id="inputUsername" class="form-control" placeholder="username..." required autofocus>Password:
      <input type="password" id="inputPassword" class="form-control" placeholder="password..." required>Confirm Password:
      <input type="password" id="inputConfirmPassword" class="form-control" placeholder="confirm password..."
      required>Name:
      <input type="text" id="name" class="form-control" placeholder="name..." required autofocus>Email:
      <input type="text" id="email" class="form-control" placeholder="email..." required autofocus>Gender:
      <div class="radio">
        <label>
          <input type="radio" name="gender">Male</label>
        <label>
          <input type="radio" name="gender">Female</label>
        <label>
          <input type="radio" name="gender">Other</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
  </div>
</div>